{% extends "notetaker/layout.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Edit Task</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ taskForm.as_p }}

                    <img id="imagePreview" src="#" style="display: none; max-width: 300px; margin: 8px;">               

                    <button type="submit" class="btn btn-primary">
                        Edit Task
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/imgPreview.js' %}"></script>
{% endblock %}